<div class="sm:col-span-4">
    <div class="border-slate pb-12 shadow-xl shadow-current m-12 p-10 rounded-xl bg-neutral-700 border-2" *ngIf="artist"
        (click)="navigate(artist)">
        <div class="items-center m-1 sm:m-1">
            <img class="rounded-full w-[300px]" [src]="artist.images[2]? artist.images[2].url : 'assets/images/no-image.png'" [alt]="artist.name">
        </div>
        <div class="mt-10 grid grid-cols-1 sm:grid-cols-4">
            <div class="sm:col-span-2">
                <h4 class="font-medium text-white text-xl">{{ artist.name }}</h4>
            </div>
            <div class="sm:col-span-2 flex sm:justify-end">
                <app-popularity-stars  [popularity]="artist.popularity"></app-popularity-stars>
            </div>
        </div>
        <div class="mt-5 grid grid-cols-2 gap-x-6 gap-y-8 sm:grid-cols-3">
            <div class="sm:col-span-2">
                <span class="text-white font-light">{{ artist.type | uppercase }}</span>
            </div>
            <div class="sm:col-span-1 flex justify-end">
                <span class="text-white">{{ artist.followers.total| number }}</span>
            </div>
        </div>
        <div
            class=" mt-2 w-full border-white bg-white text-center rounded-md justify-items-center hover:bg-neutral-700 border-2">
            <button class="px-5 py-2 text-xl font-medium text-black shadow-sm" (click)="navigate(artist)">View
                More</button>
        </div>
    </div>
</div>